@model Test_Santiagorestrepoarismendy.Models.Patient
@{
    ViewData["Title"] = "Edit Patient";
}

<h2 class="mb-4">Edit Patient</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="row g-3">
        <div class="col-md-6">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Lastname" class="form-label"></label>
            <input asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="BirthDate" class="form-label"></label>
            <input asp-for="BirthDate" class="form-control" type="date" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Symptom" class="form-label"></label>
            <input asp-for="Symptom" class="form-control" />
            <span asp-validation-for="Symptom" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-warning"> Update</button>
        <a asp-action="Index" class="btn btn-secondary"> Back</a>
    </div>
</form>
